/* footer */
footer {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    gap: 10px;
    
    .imgs-container {
        display: flex;
        gap: 20px;

        img {
            width: 50px; 
        }

        img:hover {
            scale: 1.05;
        }
    }

    h1 {
        display: flex;
        font-size: 1.5rem;
    }
}