/* header */

header {
    display: flex;
    height: 20vh;
    padding: 0 2rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark-color);

    h1 {
        display: flex;
        font-size: 5rem;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 50px;
        list-style: none;
        font-family: var(--title-font);
        font-size: 1.5rem;
    }

    li:hover {
        scale: 1.05;
    }

    a {
        font-style: none;
        text-decoration: none;
        color: var(--white-color);
    }

    a:hover {
        color: var(--white2-color);
    }
}

@media only screen and (max-width: 768px) {
    header {

        h1 {
            font-size: 1.3rem;
            margin-right: 2rem;
        }

        .nav-list {
            font-size: .8rem;
            gap: 3px;
            flex-direction: column;
        }
    }

}

@media only screen and (min-width: 769px) and ( max-width: 1024px) {
    header {
        h1 {
            font-size: 4rem;
        }

        .nav-list {
            font-size: 2rem;
            gap: 3px;
            flex-direction: column;
        }
    }

}