/* projects */

#section-projects {
    gap: 10px;

    .projects {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;

        img {
            width: 450px;
            border-radius: 10px;
            box-shadow: 
            0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        img:hover {
            scale: 1.03;

        }
    }
}

@media only screen and (max-width: 768px) {
    #section-projects {
        gap: 10px;

        h1 {
            font-size: 2rem;
        }

        .projects {
            flex-direction: column;

            img {
                width: 300px;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #section-projects {
        gap: 20px;

        h1 {
            font-size: 4rem;
        }

        .projects {
            flex-direction: column;

            img {
                width: 600px;
            }
        }
    }
}