/* projects */

#section-projects {
    display: flex;
    width: 80%;
    height: 0;
    flex-wrap: wrap;
    align-items: center;
    text-align: justify;
    font-family: var(--text-font);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark-text-color);

    h1 {
        font-size: 4rem;
    }

}