/* basic setups */

:root {
    --white-color: #dad8d8ee;
    --dark-color: #1b2845;
    --title-font: "Dela Gothic One", sans-serif;
    --text-font: "Bricolage Grotesque", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body,
html {
    scroll-behavior: smooth;
}

/* body  */

body {
    display: flex;
    flex-direction: column;
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
    background-repeat: no-repeat;
    color: var(--white-color);
}

/* general style for h1 */

.title-style {
    font-family: var(--title-font);
}

/* section */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--text-font);
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--dark-text-color);
    background-color: #091327;
    padding: 10px;
}

/* h2 */

h2 {
    display: flex;
    margin-right: auto;
    padding: 2rem 0 .5rem 2rem;
}

/* section classes */

.text-container {
    text-align: justify;
    width: 80%;
    border-radius: 10px;
    background-color: var(--dark-color);
}

.text-section {
    width: 100%;
    padding: 1rem;
    color: var(--white-color);

    p {
        padding: .5rem;
        font-size: 1.3rem;
    }
}